<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="inmemoryUserRepository" class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository"/>

    <bean id="userService" class="ru.javawebinar.topjava.service.UserService">
        <constructor-arg ref="inmemoryUserRepository"/>
    </bean>

    <bean id="adminRestController" class="ru.javawebinar.topjava.web.user.AdminRestController">
        <constructor-arg ref="userService"/>
    </bean>


</beans>